<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blog</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container mt-3">
        <h1><%= blog.title %></h1>
        <img src="<%= blog.coverImageURL %>" alt="cover-image" width="700px"/>
        <pre class="mt-3"><%= blog.body %></pre>
    </div>

    <div class="container mt-3">
        <img src="<%= blog.createdBy.profileImageURL %>" width="80px" />
        By- <%= blog.createdBy.fullName %>
    </div>

    <hr class="container">
    <div class="container my-3" style="border: 1px solid rgb(157, 157, 157); border-radius: 5px;">
        <h2 class="mt-3">Comments (<%= comments.length %>)</h2>
        <% if (locals.user) { %>
            <form action="/blog/comment/<%= blog._id %>" method="post" style="border: 1px solid rgb(186, 186, 186); border-radius: 7px;" class="container">
                <div class="my-3">
                    <input type="text" name="content" class="form-control" placeholder="Leave your comment here...">
                    <button type="submit" class="btn btn-sm btn-primary my-3">Add</button>
                </div>
            </form>
        <% } %>

        <% comments.forEach(comment => { %>
            <div class="my-3">
                <img src="<%= comment.createdBy.profileImageURL %>" alt="cover-image" width="60px"/>
                <%= blog.createdBy.fullName %> <pre><%= comment.content %></pre>
                <hr>
            </div>
        <% }) %>
    </div>

    <%- include('./partials/script') %>
</body>
</html>